.payment-container{
    position: relative;
    left: 600px;
    border-radius: 10px;
}

.topic{
    text-align: center;
    
}

.payment-container input{
    border-radius: 5px;
    
}

.payment-container button{
    margin-left: 110px;
}

.channels-content{
    text-align: center;
    margin-top: 15px;
}